@model AppWeb588.Models.Cliente
@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="estiloSection">
    <div class="contenedor100">
        <h3 class="estiloH1"> Detalle Cliente </h3>
        <div class="contenedorDatos">

            <div class="contenedor20">
                <div>
                    <a class="estiloBoton" asp-action="Index"> Volver al Listado </a>
                </div>
            </div>

            <div class="contenedor50">

                <div>
                    codigo @Model.Codigo
                </div>
                <div>
                    codigo @Model.Nombre
                </div>
                <div>
                    codigo @Model.Correo
                </div>

                <div>
                    @Html.ActionLink("Editar", "Editar", new { id = Model.Codigo })
                    @Html.ActionLink("Borrar", "Borrar", new { id = Model.Codigo })

                </div>
            </div>

        </div>
    </div>
</section>


